<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <style>
     body {
        margin: 0;
        background-color:rgb(220,220,220);
     }
     .mid {
       background-color:#E6E6E6;
       position: absolute;
       width: 1000px;
       
       top: 20px;
       bottom: 0;
       left: 0;
       right: 0;
       margin: auto;
     }
     .top{
       padding-left:15px;
       background-color:#E6E6E6;
     }
     .row{
       width:1000px;
       height:310px;
       
       background-color:#E6E6E6;
     }
     .left{
       float:left;
       width:65%;
       height:310px;
       padding-top:30px;
       padding-bottom:30px;
       padding-right:15px;
       padding-left:15px;
     }
     .right{
       float:right;
       width:35%;
       height:310px;
     }
     .rowb{
       width:1000px;
       height:310px;
       background-color:#E6E6E6;
     }
     .leftb{
       text-align: center;
       float:left;
       width:50%;
       height:310px;
       overflow: scroll;
       background-color:#E6E6E6;
     }
     .rightb{
       text-align: center;
       float:right;
       width:50%;
       height:310px;
       overflow: scroll;
       background-color:#E6E6E6;
     }
     
     
     
   </style>
   <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      namespace = '/test';
      var gauge = new RadialGauge({
          renderTo: 'canvasID',
          width: 300,
          height: 300,
          units: "°C",
          minValue: 0,
          maxValue: 40,
          majorTicks: [
              "0",
              "5",
              "10",
              "15",
              "20",
              "25",
              "30",
              "35",
              "40"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 30,
                  "to": 40,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gauge.draw();
      gauge.value = "0"; 
      
      
      var gaugeOs = new RadialGauge({
          renderTo: 'canvasIDos',
          width: 300,
          height: 300,
          units: "%",
          minValue: 0,
          maxValue: 100,
          majorTicks: [
              "0",
              "10",
              "20",
              "30",
              "40",
              "50",
              "60",
              "70",
              "80",
              "90",
              "100"
          ],
          minorTicks: 2,
          strokeTicks: true,
          highlights: [
              {
                  "from": 80,
                  "to": 100,
                  "color": "rgba(200, 50, 50, .75)"
              }
          ],
          colorPlate: "#fff",
          borderShadowWidth: 0,
          borders: false,
          needleType: "arrow",
          needleWidth: 2,
          needleCircleSize: 7,
          needleCircleOuter: true,
          needleCircleInner: false,
          animationDuration: 1500,
          animationRule: "linear"
      });
      gaugeOs.draw();
      gaugeOs.value = "0"; 
       
      var x = new Array();
      var y = new Array();
      var y2 = new Array();
      var trace;
      var trace2;
      var layout;
      
      var display=0;
      
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg.data);
        
        
        
        if(display==1){
        $('#log').append('Received #'+msg.count+': '+msg.data+'<br>').html(); 
        $('#log2').append('Received #'+msg.count+': '+msg.osvetlenie+'<br>').html(); 
        gauge.value = msg.data; 
        gaugeOs.value = msg.osvetlenie; 
        x.push(parseFloat(msg.count));
        y.push(parseFloat(msg.data));
        y2.push(parseFloat(msg.osvetlenie));
        }
        trace = {
            x: x,
            y: y,
        }; 
         
        trace2 = {
            x: x,
            y: y2,
        };  
         
           
        layout = {
          title: 'Teplota',
          xaxis: {
              title: 'x',
          },
          yaxis: {
              title: '°C',
              //range: [-1,1]
          }
        };
        layout2 = {
          title: 'Osvetlenie',
          xaxis: {
              title: 'x',
          },
          yaxis: {
              title: '%',
              //range: [-1,1]
          }
        };
        //console.log(trace);
        traces = new Array();
        traces2 = new Array();
        traces.push(trace);
        traces2.push(trace2);
        Plotly.newPlot($('#plotdiv')[0], traces, layout); 
        Plotly.newPlot($('#plotdivos')[0], traces2, layout2); 
        //addTraces               
        });
      


      $('form#emit').submit(function(event) {
          socket.emit('click_event', {value: $('#emit_value').val()});
          return false; });
          
      $('#buttonSaveDb').click(function(event) {
          socket.emit('db_event', {value: $('#buttonSaveDb').val()});
          console.log($('#buttonSaveDb').val());
          if ($(this).val() == "start") {
            $(this).val("stop");
            $(this).text("Send");
          }
          else {
            $(this).val("start");
            $(this).text("Save");
          }
          return false; }); 
          
      $('#buttonStartStop').click(function(event) {
          console.log($('#buttonStartStop').val());
          if ($(this).val() == "start") {
            display=1;
            $(this).val("stop");
            $(this).text("Stop");
          }
          else {
            display=0;
            $(this).val("start");
            $(this).text("Start");
            x = new Array();
            y = new Array();
            y2 = new Array();
            gaugeOs.value = "0"; 
            gauge.value = "0"; 
          }
          return false; }); 
      
          
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      });
    </script>
 </head>
 <body>
  <div class="mid">
    <div class="top">
    
      <h1>Monitorovanie dat</h1>
      <button id="buttonStartStop" type="submit" value="start">Start</button>
      <h2>Uloz do databazy</h2>
      <p>Stlacte tlacidlo "Save" na zacatie zaznamenania dat.<br> Stlacte tlacidlo "Send", aby ste zastavili zaznamenavanie dat a poslali zaznamenane data do databazy.</p>
      <button id="buttonSaveDb" type="submit" value="start">Save</button>
      <h2>Uloz do suboru</h2>
      <p>Zadajte id zaznamu z databazy, ktory chcete ulozit do suboru.</p>
      <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_value" id="emit_value" placeholder="Id">
        <input type="submit" value="Save">
      </form>
      
     
    </div>
    <div class="row">
    <div class="left" id="plotdiv" style="width:600px;height:250px;"></div>
    <div class="right"><canvas id="canvasID"></canvas></div>
    </div>
    
    <div class="row">
      <div class="left" id="plotdivos" style="width:600px;height:250px;"></div>
      <div class="right"><canvas id="canvasIDos"></canvas></div>
    </div>
    <div class="row">
      <div class="leftb">
        <h2>Teplota [°C]:</h2>
        <div id="log"></div>
      </div>
      <div class="rightb">
        <h2>Osvetlenie [%]:</h2>
        <div id="log2"></div>
      </div>
    </div>
  </div>
 </body>
</html>
